html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#panel {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #27374D;
}
