div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #27374D;
}
h1 {
    background-color: #9DB2BF;
    padding: 20px;
    border: solid 2px whitesmoke;
    border-radius: 5px;
}