div {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #27374D;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 30vw;
    background: #9DB2BF;
    border: 8px solid #526D82;
    border-radius: 20px;
}
input {
    padding: 2vh 3vw;
    margin: 1.5vh;
    background: #DDE6ED;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}
#form-button {
    border: 2px solid #526D82;
    border-radius: 5px;
}
#form-button:hover {
    cursor: pointer;
}